@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Nav Bar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #253688;
  padding: 15px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 20px;
}

.logo {
  color: #ecf0f1;
  font-size: 40px;
  font-weight: 600;
}

.link-list li {
  display: inline-block;
}

.link-list li a {
  text-decoration: none;
  color: #ecf0f1;
  text-transform: uppercase;
  padding: 18px 16px;
}

.link-list li a:hover {
  color: pink;
  background-color: white;
  color: #3498db;
  border-radius: 30px;
}

.link-list {
  list-style: none;
}

/* About Me Container */

main {
  display: flex;
  justify-content: center;
  height: 600px;
}

.main-container {
  display: flex;
  width: 80%;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-container span {
  flex-basis: 30px;
}

.about-me-container p {
  flex-basis: 60px;
  width: 80%;
}

.name {
  flex-basis: 50px;
}

.photo-container {
  display: flex;
  align-items: center;
}

.photo-container img {
  height: 400px;
  width: 400px;
  border-radius: 100%;
  box-shadow: 0px 0px 12px #253688;
  border: 3px solid #ecf0f1;
}

/* Buttons */
.buttons {
  padding-top: 30px;
}

.buttons button {
  border: 1px solid grey;
  padding: 20px 40px;
  border-radius: 30px;
  background-color: #ecf0f1;
  text-transform: uppercase;
}

.buttons button:hover {
  background-color: #253688;
  color: white;
  box-shadow: 0px 0px 10px #253688;
}
