@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Nav Bar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #3498db;
  padding: 15px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 20px;
}

.logo {
  color: #ecf0f1;
  font-size: 40px;
  font-weight: 600;
}

.link-list li {
  display: inline-block;
}

.link-list li a {
  text-decoration: none;
  color: #ecf0f1;
  text-transform: uppercase;
  padding: 18px 36px;
}

.link-list li a:hover {
  color: pink;
  background-color: white;
  color: #3498db;
  border-radius: 30px;
}

.link-list {
  list-style: none;
}

/* About Me Container */

main {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  width: 80%;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  height: 400px;
  width: 400px;
  border-radius: 100%;
}
