@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Nav Bar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #3498db;
  padding: 15px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 20px;
}

.logo {
  color: #bdc3c7;
  font-size: 40px;
  font-weight: 600;
}

.link-list li {
  display: inline-block;
  padding-left: 20px;
}

.link-list li a {
  text-decoration: none;
  color: #ecf0f1;
}

.link-list {
  list-style: none;
}
